
<div ng-controller="getAllDataCtrl">
	<div class="container-liquid">
		<div class="row well">
			<div class="col-lg-12">
		        <h1> You Are Home </h1>
		        <h2> List of Active Tables: </h2>
		        <ul ng-repeat="table in allTables.theData">
		        	<li> 
	        			<h3> 
	        				<span class="glyphicon glyphicon-star"></span>
	        				<a href="/#/table/{{table}}">  {{table}}  </a>
	        				<span ng-click="deleteCsvFile(table)" class="glyphicon glyphicon-trash"></span>
	        			</h3> 
		        	</li>
		    	</ul>
			    <br/>
				<h1> Upload Your Data (CSV Only) </h1>
				<form role="form" action="api/upload" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<label for="file-input">
								<span class="glyphicon glyphicon-floppy-disk"></span>
						</label>
					    <input id="file-input" type="file" name="htmlFileName"  ng-model="ngFile"><i> {{ngFile}} </i>
					    <p class="help-block">Click or Drag and Drop on the Floppy</p>
					    <p class="help-block">No punctuation in the file name or header row allowed</p>
					    <p class="help-block">Do not use the headers: name, row</p>
					    <button type="submit" class="btn btn-default">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

