body {margin-top: 140px;}

.container-liquid {
  padding: 0 15px;
  margin: 0 2%;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 550px;
    margin: auto;
}

.navbar-inner {
  padding-top:0;
}

.well {
	background-color:rgba(255, 255, 255, 0.9);
	margin-top: 2%;
}

.backgroundImages .well .detail {
	background-color:rgba(300, 300, 300);
}

ul {list-style-type: none;}

#floppy {
    display:none
}

#formTitleId {
    min-width: 200px;
}

#formDescId {
    resize: none;
    min-width: 200px;
    height: 200px;
}

#formButton{
    min-width: 200px;
}

span.glyphicon-floppy-disk {
    font-size: 15em;
}


#tableTitleId{
    font-size: 20pt;
    resize: none;
    border: none;
    background-color:transparent;
    width: 100%;
    height: 2em;
}

#tableDescId{
    resize: none;
    border: none;
    background-color:transparent;
    width: 100%;
    height: 10em;
}


/*test*/

.green:hover:after {
    background-color: blue;
    content: "asfdasfdasfd";
    position: absolute;
    padding: 5px;
    border: 1px solid gray;
    background: white;
    font-size: 14px;
}


